<!DOCTYPE html>
<html>
<head>
<title>Dark Mode</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<input type="checkbox" id="toggle">
<label for="toggle">🌙</label>

<div class="content">
  <h1>Dark Mode Enabled</h1>
</div>
</body>
</html>
## css file
body {
  transition: 0.5s;
}
#toggle {
  display: none;
}
label {
  font-size: 30px;
  cursor: pointer;
}
#toggle:checked ~ .content {
  background: #111;
  color: white;
}
.content {
  padding: 100px;
  background: white;
}
