<!DOCTYPE html>
<html>
<head>
  <title>Product Card</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="card">
    <h2>Smart Watch</h2>
    <p>₹1999</p>
    <button>Buy Now</button>
  </div>
</body>
</html>
## css file
body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.card {
  width: 250px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.card:hover {
  transform: scale(1.05);
}
button {
  background: #27ae60;
  color: white;
  border: none;
  padding: 10px;
}
